* {
  padding: 0.2vw;
  font-family: "Lucida Console", "Courier New", monospace;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #080808;
  color:  rgb(85, 255, 181);
}

.web_name {
  padding-left: 1%;
    /* font-size: inherit; */
    font-family: "Monaco", monospace;
    font-size: 4vw;
    background-size: cover;
    background-position: center;
    color: black;
    text-shadow: 1px 0 0 rgb(85, 255, 181), 20px 20px 0 rgb(85, 255, 181), -1px 0 0 rgb(85, 255, 181), 0 -1px 0 rgb(85, 255, 181);
}

.stroke_txt{
  -webkit-text-stroke:5px  rgb(85, 255, 181);
  -webkit-text-fill-color:transparent;
}



.menu-top {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 6vw;
  margin-top: 5vw;
  margin-bottom: 2vw;
}
.menu-items {
  margin: 0%;
}

ul.menu-items li {
  display: inline-flex;
    padding: 1vw;
    /* margin: 0%; */
    width: fit-content;
    border-style: solid;
    border-right-color: rgb(85, 255, 181);
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-top-color: transparent;
    background: transparent;
    transform: skew(-20deg);
    flex-direction: initial;
}

ul.menu-items li a {
  text-decoration: none;
  color: rgb(85, 255, 181);
}

ul.menu-items li:hover:not(li.active) {
  border-color: rgb(255, 230, 0);
  color: rgb(255, 230, 0);
}
ul.menu-items li:hover:not(li.active) > a {
  color: rgb(255, 230, 0);
}

ul.menu-items li.active {
  border-color: rgb(85, 255, 181);
  background-color: rgb(85, 255, 181);
  color: black;
}
ul.menu-items li.active > a {
  color: black;
}

hr {
  height: 1%;
    width: 75vw;
    background-color: rgb(85, 255, 181);
    border: none;
    margin: 3px;
    margin-left: 23%;
}

.menu-bottom {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
}

.container {
      /* height: calc(100vh - 40px); */
      overflow: auto;
      background: linear-gradient(0deg, rgb(85, 255, 181) -40%, black 60%);
      padding: 0px 2vw 4vw 2vw;
      color: rgb(85, 255, 181);
      border-color: rgb(85, 255, 181);
      align-items: center;
      /* flex-grow: 1; */
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-content: flex-end;

}

div#desktop.inside_container {
    display: none;
}

div#mobile.inside_container {
    display: none;
}


/*page view for desktop view: currently used for about page (index)*/
@media screen and (min-width: 800px) {
  div#desktop.inside_container {
    display: flex;
    padding-left: 5vw;
    padding-right: 5vw;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
}

/*page view for mobile view: currently used for about page (index)*/
@media screen and (max-width: 800px) {
  div#mobile.inside_container {
    display: flex;
    padding-left: 5vw;
    padding-right: 5vw;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
div#mobile.inside_container .contact_img{
  margin: 0;
  padding: 0;
}
div#mobile.inside_container .contact_img img{
  width: 55vw;
  margin: 0;
  padding: 0;
}
}



.inside_container div{
  margin: 20px;
}


.menu {
  height: fit-content;
  width: 100%;
}

footer {
  left: 0;
  bottom: 0;
  height: fit-content;
  width: 100%;
  color: rgb(85, 255, 181);
}

#wrap {
  background-color: #080808;
}
.languages {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 10px;
  margin: 10px;
  justify-content: flex-start;
  border-bottom: solid;
  border-bottom-color: rgb(85, 255, 181);
}

.langlist {
  list-style: none;
  margin: 0%;
  padding: 0%;
}
ul.langlist {
  display: inline-flex;
}

ul.langlist a img {
  width: 30px;
  height: 30px;
}

.linkto{
  background: linear-gradient(0deg,  rgb(85, 255, 181)  -10%, black 90%);

}

footer div.linkto {
  justify-content: space-evenly;
  align-items: flex-end;
  color: black;
  display: flex;
  height: 150px;
  padding-bottom: 20px;
}

.biggericon {
  list-style: none;
  margin: 0%;
  padding: 0%;
  align-items: center;
}
ul.biggericon {
  display: inline-flex;
}
ul.biggericon a {
  padding-left: 1vw;
  padding-right: 1vw;
}

ul.biggericon a img {
  width: 40px;
  height: 50px;
}

.desktop_form .contact_form{
  display: none;
}

.mobile_form .contact_form{
  display: none;
}

.contact_form form{
  display: none;
}


/* form for desktop size*/
@media screen and (min-width: 800px) {
  .mobile_form h2{
    font-size: 13vw;
  }
  .desktop_form .contact_form{
    width: 100vw;
      height: fit-content;
      /* background: rgb(178, 255, 222) 30%; */
      background: black;
      border: 3px solid rgb(85, 255, 181);
      display: flex;
      flex-direction: row;
      padding: 5px 10px;
      align-items: center;
      /* justify-content: center; */
      max-width: 900px;
      /*margin-bottom: 10vw;*/
      /* margin-top: 60px; */
      /* display: flex; */
      /*margin-top: 60px;*/
  
  }

  .contact_form form{
    width: 60%; 
    height: min-content;
    /* background: rgb(178, 255, 222) 30%; */
    background: black;
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
    align-items: center;
    /* justify-content: center; */
    /* max-width: 600px; */
    border-right: 3px solid rgb(85, 255, 181);
}

.contact_form .contact_links{
  width: 40%; 
}

.desktop_form .contact_form form input, textarea{
  border: 0;
    margin: 1vw;
    width: 30vw;
    padding: 1vw;
    outline: rgb(85, 255, 181);
    background: black;
    box-sizing: border-box;
    border: 1px solid rgb(85, 255, 181);
    border-radius: 5px;
    color: rgb(85, 255, 181);
    font-size: 1vw;

}

.desktop_form .contact_form form button{
  padding: 1vw;
    background: black;
    color: rgb(85, 255, 181);
    font-size: 2vw;
    border: 1px solid rgb(85, 255, 181);
    outline: none;
    cursor: pointer;
    width: 15vw;
    margin: 3vw auto 0;
    border-radius: 10px;
}

.desktop_form .contact_form form button:hover{ 
  padding: 1vw;
  color: black;
  background:  rgb(85, 255, 181);
  font-size: 2vw;
  outline: none;
  cursor: pointer;
  width: 15vw;
  margin: 3vw auto 0;
  border-radius: 10px;
}
}


/*contact form for mobile view*/
@media screen and (max-width: 800px) {
  .mobile_form h2{
    font-size: 5vw;
  }
  .mobile_form .contact_form{
    width: 60vw;
      height: fit-content;
      /* background: rgb(178, 255, 222) 30%; */
      background: black;
      border: 3px solid rgb(85, 255, 181);
      display: flex;
      flex-direction: column;
      padding: 5px 10px;
      align-items: center;
      /* justify-content: center; */
      max-width: 900px;
      /*margin-bottom: 10vw;*/
      /* margin-top: 60px; */
      /* display: flex; */
      /*margin-top: 60px;*/
  
  }

  .contact_form form{
    width: 60%; 
    height: min-content;
    /* background: rgb(178, 255, 222) 30%; */
    background: black;
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
    align-items: center;
    /* justify-content: center; */
    /* max-width: 600px; */
    border-right: 0px solid rgb(85, 255, 181);
}

.contact_form .contact_links{
  width: 100%; 
}


.mobile_form .contact_form form input, textarea{
  border: 0;
    margin: 1vw;
    width: 70vw;
    padding: 2vw;
    outline: rgb(85, 255, 181);
    background: black;
    box-sizing: border-box;
    border: 1px solid rgb(85, 255, 181);
    border-radius: 5px;
    color: rgb(85, 255, 181);
    font-size: 3vw;

}

.mobile_form .contact_form form button{
  padding: 1vw;
    background: black;
    color: rgb(85, 255, 181);
    font-size: 5vw;
    border: 1px solid rgb(85, 255, 181);
    outline: none;
    cursor: pointer;
    width: 15vw;
    margin: 1vw auto 0;
    border-radius: 10px;
}

.mobile_form .contact_form form button:hover{ 
  padding: 1vw;
  color: black;
  background:  rgb(85, 255, 181);
  font-size: 5vw;
  outline: none;
  cursor: pointer;
  width: 15vw;
  margin: 1vw auto 0;
  border-radius: 10px;
}
}





.contact_form .contact_links{
    /*width: 40%*/ 
    height: max-content;
    /* background: rgb(178, 255, 222) 30%; */
    background: black;
    /* border: 3px solid rgb(85, 255, 181); */
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    align-items: center;
    /* justify-content: center; */
    /* max-width: 600px;*/
}

form div{
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

form h2{
  color: rgb(85, 255, 181);

}




form ::placeholder{
  color: rgb(85, 255, 181);

}





.button{
  color: rgb(85, 255, 181);
    background: #080808;
    border: 1px solid rgb(85, 255, 181);
    padding: 3vw;
    text-decoration: none;
    font-size: 2vw;

}

.button:hover{
  color: #080808;
  background:rgb(85, 255, 181);
  padding: 3vw;
  text-decoration: none;
  font-size: 2vw;
}

.photo{
  width: 30vw;
    margin: 1vw;
    border-radius: 2vw;
}


.web-frame{
  margin: 20px;
  padding: 20px;
    border: 2px solid white;
    width: 400px;
    height: fit-content;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.web-frame p{
  font-size: 15px;
  margin: 5px;
  width: 100%;
  text-align: center;
}

.web-frame h2{
  text-align: center;
  
}

.web-frame a{
  text-decoration: none;
  margin-top: 5px;
  padding: 3px;
  border: 2px solid rgb(85, 255, 181);
  color: rgb(85, 255, 181);
  border-radius: 10px;
  background-color: black;
  
}

.web-frame a:hover{
  text-decoration: none;

  padding: 3px;
  border: 2px solid rgb(85, 255, 181);
  background-color: rgb(85, 255, 181);
  border-radius: 10px;
  color: black;
  
}


.web-frame a.simple-link{
  text-decoration: underline;
  padding: 3px;
  color: rgb(85, 255, 181);
  border: none;
  background-color: transparent;
  
}

.web-frame a.simple-link:hover{
  text-decoration: underline;
  padding: 3px;
  color: yellow;
  border: none;
  background-color: transparent;
  
}


/*for small screen*/
@media screen and (max-width: 800px) {
  .list-of-jobs{
    display: flex;
      flex-direction: column;
      align-items: center;
  }
}

@media screen and (min-width: 800px) {
  .list-of-jobs {
    width:100%; 
    padding-bottom: 30px;
    display: contents;

  }
}

.to-do-item{
    display: block;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    
}


.checklist{
  margin-top: 12px;
  width: 100%;
}