* {
  padding: 1px;
  font-family: "Lucida Console", "Courier New", monospace;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #080808;
  color:  rgb(85, 255, 181);
}

.web_name {
  padding-left: 1%;
    /* font-size: inherit; */
    font-family: "Monaco", monospace;
    font-size: 4vw;
    background-size: cover;
    background-position: center;
    color: black;
    text-shadow: 1px 0 0 rgb(85, 255, 181), 20px 20px 0 rgb(85, 255, 181), -1px 0 0 rgb(85, 255, 181), 0 -1px 0 rgb(85, 255, 181);
}

.stroke_txt{
  -webkit-text-stroke:5px  rgb(85, 255, 181);
  -webkit-text-fill-color:transparent;
}



.menu-top {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 6vw;
  margin-top: 5vw;
  margin-bottom: 2vw;
}
.menu-items {
  margin: 0%;
}

ul.menu-items li {
  display: inline-flex;
    padding: 1vw;
    /* margin: 0%; */
    width: fit-content;
    border-style: solid;
    border-right-color: rgb(85, 255, 181);
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-top-color: transparent;
    background: transparent;
    transform: skew(-20deg);
    flex-direction: initial;
}

ul.menu-items li a {
  text-decoration: none;
  color: rgb(85, 255, 181);
}

ul.menu-items li:hover:not(li.active) {
  border-color: rgb(255, 230, 0);
  color: rgb(255, 230, 0);
}
ul.menu-items li:hover:not(li.active) > a {
  color: rgb(255, 230, 0);
}

ul.menu-items li.active {
  border-color: rgb(85, 255, 181);
  background-color: rgb(85, 255, 181);
  color: black;
}
ul.menu-items li.active > a {
  color: black;
}

hr {
  height: 1%;
    width: 75vw;
    background-color: rgb(85, 255, 181);
    border: none;
    margin: 3px;
    margin-left: 23%;
}

.menu-bottom {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
}

.container {
      /* height: calc(100vh - 40px); */
      overflow: auto;
      background: linear-gradient(0deg, rgb(85, 255, 181) -40%, black 60%);
      /* padding: 5vw; */
      color: rgb(85, 255, 181);
      border-color: rgb(85, 255, 181);
      align-items: center;
      /* flex-grow: 1; */
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-content: flex-end;

}

.inside_container{

  display: flex;
    padding-left: 60px;
    padding-right: 30px;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.inside_container div{
  margin: 20px;
}


.menu {
  height: fit-content;
  width: 100%;
}

footer {
  left: 0;
  bottom: 0;
  height: fit-content;
  width: 100%;
  color: rgb(85, 255, 181);
}

#wrap {
  background-color: #080808;
}
.languages {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 10px;
  margin: 10px;
  justify-content: flex-start;
  border-bottom: solid;
  border-bottom-color: rgb(85, 255, 181);
}

.langlist {
  list-style: none;
  margin: 0%;
  padding: 0%;
}
ul.langlist {
  display: inline-flex;
}

ul.langlist a img {
  width: 30px;
  height: 30px;
}

.linkto{
  background: linear-gradient(0deg,  rgb(85, 255, 181)  -10%, black 90%);

}

footer div.linkto {
  justify-content: space-evenly;
  align-items: flex-end;
  color: black;
  display: flex;
  height: 150px;
  padding-bottom: 20px;
}

.biggericon {
  list-style: none;
  margin: 0%;
  padding: 0%;
  align-items: center;
}
ul.biggericon {
  display: inline-flex;
}
ul.biggericon a {
  padding-right: 25px;
}

ul.biggericon a img {
  width: 40px;
  height: 50px;
}

.contact_form{
  width: 900px;
    height: fit-content;
    /* background: rgb(178, 255, 222) 30%; */
    background: black;
    border: 3px solid rgb(85, 255, 181);
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    align-items: center;
    /* justify-content: center; */
    max-width: 900px;
    /* margin-top: 60px; */
    /* display: flex; */
    /*margin-top: 60px;*/

}


.contact_form form{
    width: 60%; 
    height: min-content;
    /* background: rgb(178, 255, 222) 30%; */
    background: black;
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
    align-items: center;
    /* justify-content: center; */
    /* max-width: 600px; */
    border-right: 3px solid rgb(85, 255, 181);
}

.contact_form .contact_links{
    width: 40%; 
    height: max-content;
    /* background: rgb(178, 255, 222) 30%; */
    background: black;
    /* border: 3px solid rgb(85, 255, 181); */
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    align-items: center;
    /* justify-content: center; */
    /* max-width: 600px;*/
}

form div{
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

form h2{
  color: rgb(85, 255, 181);

}

form input, textarea{
  border: 0;
  margin: 10px;
  width: 400px;
  padding: 20px;
  outline: rgb(85, 255, 181);
  background: black;
  box-sizing: border-box;
  border: 1px solid rgb(85, 255, 181);
  border-radius: 5px;
  color: rgb(85, 255, 181);
  font-size: 16px;

}

form ::placeholder{
  color: rgb(85, 255, 181);

}

form button{
  padding: 15px;
  background: black;
  color:  rgb(85, 255, 181);
  font-size: 16px;
  border: 1px solid rgb(85, 255, 181);
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 10px;
}

form button:hover{ 
  padding: 15px;
  color: black;
  background:  rgb(85, 255, 181);
  font-size: 16px;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 10px;
}

.button{
  color: rgb(85, 255, 181);
    background: #080808;
    border: 1px solid rgb(85, 255, 181);
    padding: 3vw;
    text-decoration: none;
    font-size: 2vw;

}

.button:hover{
  color: #080808;
  background:rgb(85, 255, 181);
  padding: 3vw;
  text-decoration: none;
  font-size: 2vw;
}

.photo{
  width: 30vw;
    margin: 1vw;
    border-radius: 2vw;
}