* {
  padding: 0;
  font-family: "Lucida Console", "Courier New", monospace;
  box-sizing: border-box;

}

body {
  display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    background: linear-gradient(0deg, rgb(85, 255, 181) -40%, black 60%);

    color: rgb(85, 255, 181);
    margin: 0; 
    /* padding: 0; */
    /* overflow-wrap: inherit; */
    overflow-x: hidden;
}

.web_name {
  padding-left: 1%;
    /* font-size: inherit; */
    font-family: "Monaco", monospace;
    font-size: 5vw;
    background-size: cover;
    background-position: center;
    color: black;
    text-shadow: 1px 0 0 rgb(85, 255, 181), 8vw 3vw 0 rgb(85, 255, 181), -1px 0 0 rgb(85, 261, 181), 0 -1px 0 rgb(85, 255, 181);
}

.stroke_txt{
  -webkit-text-stroke:5px  rgb(85, 255, 181);
  -webkit-text-fill-color:transparent;
}



.menu-top {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 6vw;
  margin-top: 5vw;
  margin-bottom: 2vw;
}
.menu-items {
  margin: 0%;
}

ul.menu-items li {
  display: inline-flex;
    padding: 1vw;
    /* margin: 0%; */
    width: fit-content;
    border-style: solid;
    border-right-color: rgb(85, 255, 181);
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-top-color: transparent;
    background: transparent;
    transform: skew(-20deg);
    flex-direction: initial;
}

ul.menu-items li a {
  text-decoration: none;
  color: rgb(85, 255, 181);
}

ul.menu-items li:hover:not(li.active) {
  border-color: rgb(255, 230, 0);
  color: rgb(255, 230, 0);
}
ul.menu-items li:hover:not(li.active) > a {
  color: rgb(255, 230, 0);
}

ul.menu-items li.active {
  border-color: rgb(85, 255, 181);
  background-color: rgb(85, 255, 181);
  color: black;
}
ul.menu-items li.active > a {
  color: black;
}

hr {
  height: 1%;
    width: 75vw;
    border-color: rgb(85, 255, 181);
    /* border: none; */
    margin: 3px;
    margin-left: 29%;
}

.menu-bottom {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
}

.container {
      /* height: calc(100vh - 40px); */
      overflow: auto;
      padding: 0px 2vw 4vw 2vw;
      color: rgb(85, 255, 181);
      border-color: rgb(85, 255, 181);
      align-items: center;
      /* flex-grow: 1; */
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-content: flex-end;

}

div#desktop.inside_container {
    display: none;
}

div#mobile.inside_container {
    display: none;
}


/*page view for desktop view: currently used for about page (index)*/
@media screen and (min-width: 800px) {
  div#desktop.inside_container {
    display: flex;
    padding-left: 5vw;
    padding-right: 5vw;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
}

/*page view for mobile view: currently used for about page (index)*/
@media screen and (max-width: 800px) {
  div#mobile.inside_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 100%;
  }
  
  div#mobile.inside_container div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div#mobile.inside_container .contact_img{
    margin: 0;
    padding: 0;
  }
  div#mobile.inside_container .contact_img img{
    width: 55vw;
    margin: 0;
    padding: 0;
  }
}



.inside_container div{
  margin: 20px;
}


.menu {
  height: fit-content;
  width: 98%;
}

footer {
  left: 0;
  bottom: 0;
  height: fit-content;
  width: 100%;
  padding: 15px;
  color: rgb(85, 255, 181);
  background: linear-gradient(0deg,  rgb(85, 255, 181)  -10%, black 90%);
}

#wrap {
  background-color: #080808;
}
.languages {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  justify-content: flex-start;
  padding: 10px;
  border-bottom: solid;
  border-bottom-color: rgb(85, 255, 181);

  margin-bottom: 5px;

}

.langlist {
  list-style: none;
  margin: 0%;
  padding: 0%;
}
ul.langlist {
  display: inline-flex;
}

ul.langlist a img {
  width: 30px;
  height: 30px;
}

.linkto{
  /*background: linear-gradient(0deg,  rgb(85, 255, 181)  -10%, black 90%);*/
  background: rgba(255,255,255,0.6);

}

footer div.linkto {
  justify-content: space-evenly;
  align-items: flex-end;
  color: black;
  display: flex;
  height: fit-content;
  padding: 20px;
  margin: 10px;
}

.biggericon {
  list-style: none;
  margin: 0%;
  padding: 0%;
  align-items: center;
}
ul.biggericon {
  display: inline-flex;
}
ul.biggericon a {
  padding-left: 1vw;
  padding-right: 1vw;
}

ul.biggericon a img {
  width: 40px;
  height: 50px;
}

.desktop_form .contact_form{
  display: none;
}

.mobile_form .contact_form{
  display: none;
}

.contact_form form{
  display: none;
}


/* form for desktop size*/
@media screen and (min-width: 800px) {
  .mobile_form h2{
    font-size: 13vw;
  }
  .desktop_form .contact_form{
    width: 100vw;
      height: fit-content;
      /* background: rgb(178, 255, 222) 30%; */
      background: black;
      border: 3px solid rgb(85, 255, 181);
      display: flex;
      flex-direction: row;
      padding: 5px 10px;
      align-items: center;
      /* justify-content: center; */
      max-width: 900px;
      /*margin-bottom: 10vw;*/
      /* margin-top: 60px; */
      /* display: flex; */
      /*margin-top: 60px;*/
  
  }

  .contact_form form{
    width: 60%; 
    height: min-content;
    /* background: rgb(178, 255, 222) 30%; */
    background: black;
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
    align-items: center;
    /* justify-content: center; */
    /* max-width: 600px; */
    border-right: 3px solid rgb(85, 255, 181);
}

.contact_form .contact_links{
  width: 40%; 
}

.desktop_form .contact_form form input, textarea{
  border: 0;
    margin: 1vw;
    width: 30vw;
    padding: 1vw;
    outline: rgb(85, 255, 181);
    background: black;
    box-sizing: border-box;
    border: 1px solid rgb(85, 255, 181);
    border-radius: 5px;
    color: rgb(85, 255, 181);
    font-size: 1vw;

}

.desktop_form .contact_form form button{
  padding: 1vw;
    background: black;
    color: rgb(85, 255, 181);
    font-size: 2vw;
    border: 1px solid rgb(85, 255, 181);
    outline: none;
    cursor: pointer;
    width: 15vw;
    margin: 3vw auto 0;
    border-radius: 10px;
}

.desktop_form .contact_form form button:hover{ 
  padding: 1vw;
  color: black;
  background:  rgb(85, 255, 181);
  font-size: 2vw;
  outline: none;
  cursor: pointer;
  width: 15vw;
  margin: 3vw auto 0;
  border-radius: 10px;
}
}


/*contact form for mobile view*/
@media screen and (max-width: 800px) {
  div.mobile_form{
    padding-top: 30px;
  }
  .mobile_form h2{
    font-size: 5vw;
  }
  .mobile_form .contact_form{
    width: 60vw;
      height: fit-content;
      /* background: rgb(178, 255, 222) 30%; */
      background: black;
      border: 3px solid rgb(85, 255, 181);
      display: flex;
      flex-direction: column;
      padding: 5px 10px;
      align-items: center;
      /* justify-content: center; */
      max-width: 900px;
      /*margin-bottom: 10vw;*/
      /* margin-top: 60px; */
      /* display: flex; */
      /*margin-top: 60px;*/
  
  }

  .contact_form form{
      width: 60%; 
      height: min-content;
      /* background: rgb(178, 255, 222) 30%; */
      background: black;
      display: flex;
      flex-direction: column;
      margin: 5px 10px;
      align-items: center;
      /* justify-content: center; */
      /* max-width: 600px; */
      border-right: 0px solid rgb(85, 255, 181);
  }

  .contact_form .contact_links{
    width: 100%; 
  }


  .mobile_form .contact_form form input, textarea{
    border: 0;
      margin: 1vw;
      width: 70vw;
      padding: 2vw;
      outline: rgb(85, 255, 181);
      background: black;
      box-sizing: border-box;
      border: 1px solid rgb(85, 255, 181);
      border-radius: 5px;
      color: rgb(85, 255, 181);
      font-size: 3vw;

  }

  .mobile_form .contact_form form button{
    padding: 1vw;
      background: black;
      color: rgb(85, 255, 181);
      font-size: 5vw;
      border: 1px solid rgb(85, 255, 181);
      outline: none;
      cursor: pointer;
      width: 15vw;
      margin: 1vw auto 0;
      border-radius: 10px;
  }

  .mobile_form .contact_form form button:hover{ 
    padding: 1vw;
    color: black;
    background:  rgb(85, 255, 181);
    font-size: 5vw;
    outline: none;
    cursor: pointer;
    width: 15vw;
    margin: 1vw auto 0;
    border-radius: 10px;
  }
}





.contact_form .contact_links{
    /*width: 40%*/ 
    height: max-content;
    /* background: rgb(178, 255, 222) 30%; */
    background: black;
    /* border: 3px solid rgb(85, 255, 181); */
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    align-items: center;
    /* justify-content: center; */
    /* max-width: 600px;*/
}

form div{
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

form h2{
  color: rgb(85, 255, 181);

}




form ::placeholder{
  color: rgb(85, 255, 181);

}





.button{
  color:  #080808;
    background:rgb(85, 255, 181);
    border: 1px solid rgb(85, 255, 181);
    padding: 3vw;
    text-decoration: none;

}

.button:hover{
  color: #080808;
  background:rgb(85, 255, 181);
  padding: 3vw;
  text-decoration: none;
}

.photo{
  width: 20vw;
  padding: 2vw;
  margin: 1vw;    
  border-radius: 2vw;
    align-self: center;
}


.item-block{
  margin: 20px;
  padding: 20px;
    border: 1px solid rgb(85, 255, 181);
    width: min-content;
    min-width: 345px;
    height: fit-content;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.item-block p{
  font-size: 15px;
  margin: 5px;
  width: 100%;
  text-align: center;
}

.item-block h2{
  text-align: center;
  
}

.item-block a{
  text-decoration: none;
  margin-top: 5px;
  padding: 3px;
  border: 2px solid rgb(85, 255, 181);
  color: rgb(85, 255, 181);
  border-radius: 10px;
  background-color: transparent;
  
}

.item-block a:hover{
  text-decoration: none;

  padding: 3px;
  border: 2px solid rgb(85, 255, 181);
  background-color: rgb(85, 255, 181);
  border-radius: 10px;
  color: black;
  
}

/*link button*/

.button a:hover{
  text-decoration: none;
  margin-top: 5px;
  padding: 3px;
  border: 2px solid rgb(85, 255, 181);
  color: rgb(85, 255, 181);
  border-radius: 10px;
  background-color: transparent;
  
}

.button a{
  text-decoration: none;

  padding: 3px;
  border: 2px solid rgb(85, 255, 181);
  background-color: rgb(85, 255, 181);
  border-radius: 10px;
  color: black;
  
}



.item-block a.simple-link{
  text-decoration: underline;
  padding: 3px;
  color: rgb(85, 255, 181);
  border: none;
  background-color: transparent;
  
}

.item-block a.simple-link:hover{
  text-decoration: underline;
  padding: 3px;
  color: yellow;
  border: none;
  background-color: transparent;
  
}


/*for small screen*/
@media screen and (max-width: 800px) {
  .list-of-items{
    display: flex;
      flex-direction: column;
      align-items: center;
  }
}

@media screen and (min-width: 800px) {
  .list-of-items {
    width:100%; 
    padding-bottom: 30px;
    display: contents;

  }
}

.list{
  margin-top: 12px;
  width: fit-content;
}

.item, .star-item{
  display: inline-flex;
    /* position: relative; */
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    width: 100%;
    padding-left: 20px;
    /* padding-right: 20px; */
    align-content: stretch;
    align-items: center;
    /* flex-direction: row; */
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.item-block div{
  margin-top: 20px;
}


.list .item label, .list .star-item label{
  width: 100%;
  margin-left: 20px;
}

.list .item input[type=checkbox], .list .star-item input[type=checkbox]{
  appearance: none;
  background-color: transparent;
  margin: 0;
  font: inherit;
  color: currentColor;
  
  width: 40px;
  height: 40px;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}


/* prepares border and bacground color*/
.list .item input[type=checkbox]:checked, .list .star-item input[type=checkbox]:checked{
  background-color: rgb(85, 255, 181);
  border: 0.15em solid rgb(85, 255, 181);

}


/* set up for when marked checked*/
.list .item input[type=checkbox]::before, .list .star-item input[type=checkbox]::before{
  content: "";
  width: 40px;
  height: 40px;
  transform: scale(0);
  box-shadow: inset 1em 1em var(--form-control-color);

  color: rgb(85, 255, 181);
  background-color: white;
  
}


/*sets up draws pattern object infront on click*/
.list .item input[type=checkbox]:checked::before, .list .star-item input[type=checkbox]:checked::before{

  transform: scale(0.8);

  clip-path: polygon(21% 35%, 46% 55%, 75% 13%, 91% 27%, 48% 84%, 10% 52%);

}




.list .star-item input[type=checkbox]:checked::before{

  transform: scale(0.8);

  clip-path: polygon(50% 0%, 69% 28%, 98% 35%, 75% 60%, 79% 91%, 51% 76%, 21% 91%, 25% 60%, 2% 35%, 33% 30%);

}


.page-title{
  align-self: center;
}

.hidden-link, .hidden-link:visited{
  margin: 2px;
  color: transparent;
  text-decoration: none;
  width: 10%;
}

.hidden-link:hover{
  margin: 2px;
  color: yellow;
  width: 10%;
}

